@media (min-width:1200px) {
    .additionalPublications__header {
        font-size: 30px;
        font-family: sans-serif;
        font-weight: 100;
        color: #610410;
        text-align: center;
        text-shadow: 3px 2px 5px #e97979;
        margin: 70px auto 10px auto;
        text-align: center;
    }

    .table {
        border-collapse: collapse;
        max-width: 70%;
        margin: 6px auto 70px;
    }

    .table__cell {
        border: 1px solid rgb(12, 11, 11);
        padding: 20px;
        text-align: center;
        vertical-align: middle;
    }

    .table__cell--header {
        background-color: #adaeb450;
    }

    .tableCell__title {
        font-family: sans-serif;
        font-size: 20px;
        text-shadow: 3px 2px 5px #2B6CA3;
        font-weight: 50px;
        margin-bottom: 30px;
        padding-top: 10px;
    }

    .table__image {
        border: 1px solid black;
        border-radius: 2px;
        padding: 4px;
        float: left;
        max-width: 200px;
        margin-right: auto 50px auto 25px;
        transition: transform 0.5s;
    }

    .table__image:hover {
        transform: scale(1.13);
    }

    .table__row:hover {
        background-color: #adaeb47e;
    }
}

@media (min-width:750px) and (max-width:1200px) {
    .additionalPublications__header {
        font-size: 25px;
        font-family: sans-serif;
        font-weight: 50px;
        color: #610410;
        text-align: center;
        text-shadow: 3px 2px 5px #e97979;
        margin: 80px auto 10px auto;
    }

    .table {
        border-collapse: collapse;
        max-width: 600px;
        margin: auto;
    }

    .table__cell {
        border: 1px solid rgb(12, 11, 11);
        padding: 5px;
        text-align: center;
        font-size: 18px;
    }

    .table__cell--header {
        background-color: #adaeb450;
    }

    .tableCell__title {
        font-family: sans-serif;
        font-size: 15px;
        text-shadow: 3px 2px 5px #2B6CA3;
        font-weight: 50px;
        margin-bottom: 30px;
        padding-top: 10px;
    }

    .table__image {
        padding: 4px;
        float: center;
        max-width: 200px;
        margin: auto;
    }

    .table__row:hover {
        background-color: #adaeb47e;
    }
}

@media (min-width:250px) and (max-width:750px) {
    .additionalPublications__header {
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 50px;
        color: #610410;
        text-align: center;
        text-shadow: 3px 2px 5px #e97979;
        margin: 50px auto 10px auto;
    }

    .table {
        border-collapse: collapse;
        max-width: 200px;
        margin: auto;
    }

    .table__cell {
        border: 1px solid rgb(12, 11, 11);
        padding: 5px;
        text-align: center;
        font-size: 15px;
    }

    .table__cell--header {
        background-color: #adaeb450;
    }

    .tableCell__title {
        font-family: sans-serif;
        font-size: 15px;
        text-shadow: 3px 2px 5px #2B6CA3;
        font-weight: 50px;
        margin-bottom: 30px;
        padding-top: 10px;
    }

    .table__image {
        padding: 4px;
        float: center;
        max-width: 105px;
        margin: auto;
        transition: transform 0.5s;
    }

    .table__row:hover {
        background-color: #adaeb47e;
    }
}