.footer {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.footer__image {
    max-width: 10%;
    margin: 0 auto;
    padding: 0;
}

.body__button--flyup {
    display: block;
    margin: 40px auto 5px;
}