
.header {
    max-width: 900px;
    margin: 0 auto;
    background-color: #ffff;
    padding: 15px;
}

.header__container {
    background-color: #ffffff;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.header__image {
    display: inline;
    max-width: 220px;
    max-height: 86px;
}

.header__mainHeader {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: normal;
    display: inline;
    color: #2B6CA3;
    text-align: right;
    text-shadow: 2px 0px 0px #cdced4;
    margin: 5px auto 10px 15px;
}

.header__line {
    width: 795px;
    max-width: 870px;
    margin: auto;
}

.header__quote {
    font-family: sans-serif;
    font-size: 18px;
    font-style: oblique;
    text-align: center;
    text-shadow: 2px 2px 5px #8B0000;
    font-weight: 5px;
    margin: 5px auto;
}

.header__author {
    font-family: sans-serif;
    font-size: 16px;
    font-style: oblique;
    text-align: right;
    text-shadow: 2px 2px 5px #8B0000;
    font-weight: 5px;
    width: 850px;
    margin: 0 auto 15px;
}

.header__buttonsContainer {
    text-align: center;
    margin: auto;
}

.header__button {
    background-color: #18668a;
    border: 1px solid #ffff;
    border-radius: 25px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
    margin: 20px auto auto;
    cursor: pointer;
}

.header__button:hover {
    background-color: #2d95c5b2;
}
